{{ header }}
<main data-uk-height-viewport="expand: true">
  <div>
    <div class="uk-padding-large uk-padding-remove-horizontal">
      <div>
        <div id="common-success" class="uk-container">
          <div class="uk-margin-large-bottom">
            <h1 class="uk-text-center uk-text-bold uk-text-secondary uk-margin-small-bottom uk-h2 pageTitle font">{{ heading_title }}</h1>
            <ul class="uk-breadcrumb uk-text-center uk-text-zero uk-margin-remove">
              {% for breadcrumb in breadcrumbs %}
                <li><a class="uk-text-tiny uk-text-muted font" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="uk-flex-center" data-uk-grid>
            {{ column_left }}
            <div class="uk-width-1-1 uk-width-1-2@m" id="content">
              <div>
                <div class="uk-text-zero" data-uk-grid>
                  {{ content_top }}
                  <div class="uk-width-1-1">{{ text_message }}</div>
                  <div class="uk-width-1-1 uk-text-center"><a href="{{ continue }}" class="uk-button uk-button-primary uk-width-1-1 uk-width-auto@m uk-border-rounded font">{{ button_continue }}</a></div>
                  {{ content_bottom }}
                </div>
              </div>
            </div>
            {{ column_right }}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{ footer }}